//Primary green colors
$green100: #d1dfd5;
$green200: #8ca694;
$green300: #809085;
$green400: #5e6d62;
$green500: #3d4b41;

//Primary light colors
$light100: #fefcf9;
$light200: #f3efe7;
$light300: #efe4d3;
$light400: #7e6b61;
$light500: #575252;

//Secondary dark colors
$dark100: #cacaca;
$dark200: #989898;
$dark300: #696969;
$dark400: #3d3d3d;
$dark500: #161616;

//Secondary blue colors
$blue100: #7da4ff;
$blue200: #5481d8;
$blue300: #245fb2;
$blue400: #00408d;
$blue500: #00236a;

//Secondary red colors:
$red100: #fcf0f2;
$red200: #ff969f;
$red300: #fd7782;
$red400: #da5966;
$red500: #b83a4b;
