//Primary green colors
$green100: #d1dfd5;
$green200: #8ca694;
$green300: #809085;
$green400: #5e6d62;
$green500: #3d4b41;

//Primary light colors
$light100: #fefcf9;
$light200: #f3efe7;
$light300: #efe4d3;
$light400: #7e6b61;
$light500: #575252;

//Secondary dark colors
$dark100: #cacaca;
$dark200: #989898;
$dark300: #696969;
$dark400: #3d3d3d;
$dark500: #161616;

//Secondary blue colors
// $blue100: #7da4ff;
// $blue200: #5481d8;
// $blue300: #245fb2;
// $blue400: #00408d;
$blue500: #5f71a3;

//Secondary red colors
$red100: #fcf0f2;
$red200: #ff969f;
$red300: #fd7782;
$red400: #da5966;
$red500: #b83a4b;

//fonts
@font-face {
  font-family: "Roboto";
  src: url("../assets/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../assets/JosefinSans-Regular.woff2") format("woff2");
}

$fontRoboto: "Roboto", sans-serif;
$fontJosefinSans: "Josefin Sans", sans-serif;

@mixin josefin64 {
  font-family: $fontJosefinSans;
  font-size: 4rem;
  line-height: 4.5rem;
  letter-spacing: 0.92px;
}

@mixin josefin56 {
  font-family: $fontJosefinSans;
  font-size: 3.5rem;
  line-height: 3.625rem;
  letter-spacing: 0.47px;
}

@mixin josefin48 {
  font-family: $fontJosefinSans;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.47px;
}

@mixin josefin40 {
  font-family: $fontJosefinSans;
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 0.47px;
}

@mixin josefin32 {
  font-family: $fontJosefinSans;
  font-size: 2rem;
  line-height: 2.375rem;
  letter-spacing: 0.38px;
}

@mixin josefin24 {
  font-family: $fontJosefinSans;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.1px;
}

@mixin josefin20 {
  font-family: $fontJosefinSans;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}

@mixin josefin18 {
  font-family: $fontJosefinSans;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}

@mixin roboto18 {
  font-family: $fontRoboto;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

@mixin robotolink {
  font-family: $fontRoboto;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: $blue500;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
}

@mixin roboto16 {
  font-family: $fontRoboto;
  font-size: 1rem;
  line-height: 1.5rem;
}

%roboto16 {
  font-family: $fontRoboto;
  font-size: 1rem;
  line-height: 1.5rem;
}

%roboto14 {
  font-family: $fontRoboto;
  font-size: 0.875;
  line-height: 1.375rem;
}

@mixin roboto12 {
  font-family: $fontRoboto;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

//Spacing
$spacing4: 0.25rem;
$spacing8: 0.5rem;
$spacing12: 0.75rem;
$spacing16: 1rem;
$spacing24: 1.5rem;
$spacing32: 2rem;
$spacing48: 3rem;
$spacing72: 4.5rem;
$spacing96: 6rem;
$spacing120: 7.5rem;
$spacing160: 10rem;
$spacing240: 15rem;

// Shadows
@mixin dropShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

@mixin innerShadow {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

//Borderradius
@mixin borderRadius {
  border-radius: 0.25rem;
}

@mixin fullBorderRadius {
  border-radius: 6rem;
}

// Logo
@mixin logoSizeWeb {
  max-width: 20.551;
}

@mixin logoSizeMobile {
}

// images

@mixin imgSMobile {
  max-width: 21.875rem;
}

@mixin imgXsMobile {
  max-width: 9.875rem;
}

@mixin imgXxsMobile {
  max-width: 4rem;
}

@mixin imgXl {
  max-width: 90rem;
}

@mixin imgL {
  max-width: 51.5rem;
}

@mixin imgM {
  max-width: 38.25rem;
}

@mixin imgS {
  max-width: 24.875rem;
}
@mixin imgXs {
  max-width: 18.375rem;
}
@mixin imgXxs {
  max-width: 11.75rem;
}

@mixin imgXxxs {
  max-width: 5.125rem;
}

//BREAKPOINTS//
$mobileScreenSize: 390px;
$ipadScreenSize: 834px;
$desktopScreenSize: 1440px;

$breakpoints: (
  "mobile": $mobileScreenSize,
  "ipad": $ipadScreenSize,
  "medium": $desktopScreenSize,
) !default;

@mixin respond-to-higher-than($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

//OPACITY//
$opacity30: 20%;
