@import "../styles/global.scss";

.delay {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  align-content: center;
  justify-content: center;
  padding: $spacing96;
  gap: $spacing48;
  align-items: center;
}

.confirmation-textbox{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: $spacing24;
padding-inline: $spacing24;
padding-block: $spacing72;
p{
  max-width: 65ch;
  @media screen and (min-width: $ipadScreenSize) {
    &{
      text-align: center;
    }
  }
}
@media screen and (min-width: $ipadScreenSize) {
  &{
    gap: $spacing24;
    padding-block: $spacing72;
  }
}
.confirmation-btn{
  padding-top: $spacing24;

}
}