@import "../styles/global";

.contact-s1{
    max-width: $desktopScreenSize;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: $spacing16 $spacing24;
    gap: $spacing16; 
    
    @media (min-width:$ipadScreenSize){
    &{
        gap: $spacing48;
        padding: $spacing48 $spacing96;
        .h1{
            @include josefin56
        }
    }
    }
    }

    .contact-s2-content{
        display: flex;
        flex-direction: column;
        padding-inline: $spacing24;
        padding-block: $spacing16 $spacing32;
        align-items: center;
        gap: $spacing24;
        @media screen and (min-width: $ipadScreenSize) {
            &{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding-inline: $spacing96;
                padding-block: $spacing72;
            }
        }
        .contact-s2-img{
            display: flex;
            img{
                height: 235px;
                width: 100%;
                @media screen and (min-width: $ipadScreenSize) {
                    height: 405px;
                }
            }
        }
        .contact-s2-text{
            display: flex;
            flex-direction: column;
            gap: $spacing16;
        }
    }
