@import "../styles/global.scss";

.filler-faq {
  display: flex;
  flex-direction: column;
  padding: $spacing72 $spacing24;
  gap: $spacing24;

  .filler-faq-text {
    h1 {
      margin-bottom: $spacing16;
    }
    h2 {
      @include josefin24;
      margin-bottom: $spacing24;
      @media screen and (min-width: $ipadScreenSize) {
        @include josefin32;
      }
    }
  }

  .filler-faq-dropdown {
    display: flex;
    flex-direction: column;
    gap: $spacing16;
  }

  @media screen and (min-width: $ipadScreenSize) {
    & {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: $spacing72 $spacing96;
      gap: $spacing24;
    }
  }
}

.before-after-header {
  text-align: center;
  margin-top: $spacing72;
}
