@import "../styles/global.scss";

.signup-form {
  max-width: $mobileScreenSize;
  margin: 0 auto;
  padding-block: $spacing32;

  @media screen and (min-width: $ipadScreenSize) {
    max-width: 632px;
    padding-block: $spacing72;
  }

  h1 {
    text-align: center;
    padding-bottom: $spacing48;

    @media screen and (min-width: $ipadScreenSize) {
      @include josefin56;
      padding-bottom: $spacing32;
    }
  }

  p {
    @include josefin18;
  }

  .signup-info {
    text-align: center;
  }

  input {
    border-radius: 4px;
    width: 348px;
    height: 28px;
    margin: 0;
    padding: 0;

    @media screen and (min-width: $ipadScreenSize) {
      width: 608px;
      height: 28px;
    }
  }
  .signup-form-btn {
    display: flex;
    justify-content: center;
    padding-block: $spacing16;
  }
}

.form-group {
  label {
    @include josefin18;
  }
}

.user-name-group {
  display: flex;
  padding-top: $spacing8;

  input {
    width: 162px;
    height: 28px;

    @media screen and (min-width: $ipadScreenSize) {
      width: 292px;
      height: 28px;
    }
  }
}

.privacy-policy-group {
  display: flex;
  gap: $spacing8;
  align-items: center;
  padding-inline: $spacing8;

  label {
    @include roboto12;
  }

  .privacypolicy {
    @include roboto12;
  }
}

#privacypolicy {
  width: 25px;
  height: 25px;
  background-color: $light100;
  border: 1px solid $dark500;
  border-radius: 4px;
  cursor: pointer;

  &.checked {
    visibility: visible;
  }
}

.already-an-account {
  display: flex;
  align-items: center;
  gap: $spacing8;
  justify-content: center;
}

.roboto12 {
  @include roboto12;
}
