@import "../styles/global.scss";

.skinbooster-faq{
    display: flex;
    flex-direction: column;
    padding: $spacing72 $spacing24;
    gap: $spacing24;

    .skinbooster-faq-text{
        h1{
            margin-bottom: $spacing16;
        }
        h4{
            margin-bottom: $spacing24;
        }
    }

    .skinbooster-faq-dropdown{
        display: flex;
        flex-direction: column;
        gap: $spacing16;
    }
    @media screen and (min-width: $ipadScreenSize) {

        &{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: $spacing72 $spacing96;
            gap: $spacing24;

        }
    }
}
 