@import "../styles/global.scss";

.user-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing24;
  padding-inline: $spacing24;
  padding-block: $spacing32;

  margin: 0 auto;

  @media screen and (min-width: $ipadScreenSize) {
    max-width: $desktopScreenSize;
    padding-inline: $spacing96;
    padding-block: $spacing72;
  }

  .dropdown {
    width: 100%;
  }

  .user-information-form {
    @media screen and (min-width: $ipadScreenSize) {
      width: fit-content;
    }
  }
}

.all-favorite-products {
  display: grid;
  gap: $spacing24;
  grid-template-columns: repeat(4, 1fr);
  padding-block: $spacing48;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  width: 310px;
  align-items: center;
  gap: $spacing8;
  @include dropShadow;
  @include borderRadius;

  .favorite-card-image {
    max-height: 196px;
    width: fit-content;
  }

  .favorite-heart-icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
