@import "../styles/global.scss";

.webshop-hero-section {
  position: relative;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: $ipadScreenSize) {
    max-height: 690px;
  }

  .webshop-hero-image {
    width: 100%;
    max-height: 268px;
    object-fit: cover;
    opacity: $opacity30;

    @media screen and (min-width: $ipadScreenSize) {
      max-height: 690px;
    }
  }

  .webshop-overlay-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    gap: $spacing32;
    transform: translate(-50%, -50%);
    @media screen and (min-width: $ipadScreenSize) {
      gap: $spacing32;
      max-width: 1036px;
    }

    h1 {
      @include josefin48;
      @media screen and (min-width: $ipadScreenSize) {
        @include josefin64;
      }
    }

    h2 {
      @include josefin20;
      @media screen and (min-width: $ipadScreenSize) {
        @include josefin24;
      }
    }

    .display-none {
      display: none;

      @media screen and (min-width: $ipadScreenSize) {
        display: block;
      }
    }
    .webshop-book-btn {
      display: flex;
      justify-content: center;
    }
  }
}

.zo-approach {
  margin: 0 auto;
  padding-inline: $spacing24;
  margin-block: $spacing16;
  display: grid;

  @media screen and (min-width: $ipadScreenSize) {
    max-width: $desktopScreenSize;
    grid-template-columns: 1fr 1fr;
    gap: $spacing24;
    margin-block: $spacing72;
    padding-inline: $spacing96;
  }

  .zo-approach-text-box {
    display: flex;
    flex-direction: column;
    gap: $spacing16;
    order: 2;

    @media screen and (min-width: $ipadScreenSize) {
      gap: $spacing24;
      order: 1;
    }
  }

  .zo-approach-img-box {
    order: 1;
    @media screen and (min-width: $ipadScreenSize) {
      order: 2;
    }
  }

  h1 {
    text-align: center;
    @media screen and (min-width: $ipadScreenSize) {
      text-align: left;
    }
  }

  h2 {
    text-align: center;
    @include josefin18;
    @media screen and (min-width: $ipadScreenSize) {
      text-align: left;
      @include josefin20;
    }
  }

  .zo-approach-img {
    max-width: 350px;
    height: auto;

    @media screen and (min-width: $ipadScreenSize) {
      max-width: 612px;
    }
  }
}

.categories {
  margin: 0 auto;
  margin-block: $spacing32;
  padding-inline: $spacing24;

  @media screen and (min-width: $ipadScreenSize) {
    max-width: $desktopScreenSize;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .flexing-categories {
    display: flex;
    gap: $spacing24;
    padding-bottom: $spacing24;
  }
}

.categories-boxes {
  @include dropShadow;
  position: relative;
  width: 158px;
  height: 133px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $dark500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $ipadScreenSize) {
    width: 188px;
    height: 127px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-top: 10px solid $blue500;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
  }

  img {
    max-height: 118px;
    width: auto;
    opacity: $opacity30;

    @media screen and (min-width: $ipadScreenSize) {
      max-height: 127px;
    }
  }

  h5 {
    color: $dark500;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
  }
}
