@import "../styles/global";

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.josefin18 {
  @include josefin18;
}

.accordion-content {
  @include roboto16;
}
