@import "../styles/global";

.admin-aside {
  width: 60px;
  height: 100%;
  transition: width 0.3s ease;
  display: none;

  @media screen and (min-width: $ipadScreenSize) {
    width: 44px;
    display: block;
  }

  .icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing8;
    transition: padding 0.3s ease;
    z-index: 3;
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $spacing24;
    padding-block: $spacing72;
    align-content: center;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 0.3s ease;
  }

  &.open {
    width: 284px;
    z-index: 3;
    background-color: $dark100;
    .icon {
      padding: $spacing16;
    }
    nav {
      max-height: 500px;
      visibility: visible;
      transition: max-height 0.3s ease;
    }
  }
}
