@import "../styles/global.scss";
.double-banner{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: $spacing32 $spacing24;
    gap: $spacing16;
    justify-content: center;
    align-items: center;
 
    .double-banner-title{
        h1{
            @include josefin48;
            text-align: center;
        }
    }
    .double-banner-image-box{
        display: flex;
        flex-direction: row;
        gap: $spacing16;
        img{
            @include imgXsMobile;
        }
    }
    @media screen and (min-width: $ipadScreenSize) {
        &{
            padding: $spacing72 $spacing96;
            gap: $spacing24;
         
            .double-banner-title{
                h1{
                    @include josefin56;
                }
            }
            .double-banner-image-box{
                gap: $spacing24;
                img{
                    @include imgM;
                }
            }
    }
}

}