@import "../styles/global";

.btn-primary {
  background-color: $green500;
  color: $light100;
  border: none;
  padding: $spacing12 $spacing16;
  @include borderRadius;
  cursor: pointer;
  @include josefin18;
  @include dropShadow;

  &:hover {
    background-color: $green400;
  }

  &:active,
  &.pressed {
    background-color: $green300;
    color: $dark500;
  }

  &:disabled {
    background-color: $dark100;
    color: $dark300;
    cursor: not-allowed;
  }
}

.btn-secondary {
  background-color: $light200;
  color: $dark500;
  border: none;
  padding: $spacing12 $spacing16;
  @include borderRadius;
  cursor: pointer;
  @include josefin18;
  @include dropShadow;

  &:hover {
    background-color: $light300;
  }

  &:active,
  &.pressed {
    background-color: $light500;
    color: $light100;
  }

  &:disabled {
    background-color: $dark100;
    color: $dark300;
    cursor: not-allowed;
  }
}

.btn-tertiary-icon {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: $spacing12 $spacing16;
  background-color: transparent;
}
