@import "../styles/global";

.custom-footer{
max-width: 100%;
background-color: $green500;
padding: $spacing32 $spacing24;
position: relative;
bottom: 0;
display: flex;
flex-direction: column;
gap: $spacing32;

 
.top-div-footer{
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;

.col1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

    .col2{
        display: flex;
        flex-direction: row;
        gap: $spacing32;
        p{
            max-width: 15ch;
        }
    }
 }

.bottom-div-footer{
    display: flex;
    align-items: center;
    flex-flow: column;

    .bottom-div-links{
        display: flex;
        flex-direction:row;
        gap: $spacing16;
        order: 2;
    }
    .footer-logo{
        padding:0;
    }
}

}

@media screen and (min-width: $ipadScreenSize){
    .top-div-footer{
        flex-direction: row;
        
        .col1{
        
        }
        
            .col2{
             
                p{
                    max-width: 65ch;
                }
            }
         }
        
        .bottom-div-footer{
          
        
            .bottom-div-links{
             
            }
            .footer-logo{
             
            }
        }
}

