@import "../styles/global";

.custom-footer{
max-width: 100%;
background-color: $green500;
padding: $spacing32 $spacing72;
position: relative;
bottom: 0;
display: flex;
flex-direction: column;
gap: $spacing32;
color: $light100;
a{
    color: $light100;
}
h4, h5, p{
    margin: 0;
}
 
.top-div-footer{
    display: flex;
    flex-direction: column;
    gap: $spacing32;
 
    .trustpilot{
        background-color: $light100;
        padding: $spacing16 $spacing32;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: $spacing16;
        border-radius: 0.5rem;
        height: fit-content;
        

        p{
            margin: 0;
            color: $dark500;
        }

        h4{
            margin: 0;
            color: $blue500;
            text-decoration: underline;
        }
        .trustpilot-star{
            display: flex;
            gap: $spacing4;
        svg{
            background-color: $green200;
            &:last-of-type{
                background-color: $dark100;
            }
        }
    }
      
    }

    .footer-contact, .footer-adress{
        display: flex;
        flex-direction: column;
        gap: $spacing16;

 
    }

   .some-icons{
    display: flex;
    flex-direction: row;
   }

        p{
            max-width: 15ch;
        }

 }


.bottom-div-footer{
    display: flex;
    align-items: center;
    flex-flow: column;

    .bottom-div-links{
        display: flex;
        flex-direction:row;
        gap: $spacing16;
        order: 2;
    }
    .footer-logo{
        padding:0;

    }
}


@media screen and (min-width: $ipadScreenSize) {
    &{
        padding: $spacing96 $spacing72;
      
       
    .top-div-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        p{
            max-width: 65ch;
        }
    }


    .bottom-div-footer{
        flex-direction: row;
        justify-content: space-between;
    
    
        .bottom-div-links{
            order: 0;
        }

        .footer-logo{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            svg{
                padding: 0;
            }
        }
    
    
    }

}
}
}

