@import "../styles/global";


// navbar.css
.navigation {
    height: 106px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: $light100;
    a{
    line-height: 0;
    color: $dark500;
    &:hover{
        text-decoration: underline;
    }
    }
  }
  .logo-web {
    display: block;
    width: 328px;
  }
  
  .logo-mobile {
    display: none;
  }
  // navbar.css
.brand-name {
    margin-left: 1rem;
  }
  .navigation-menu {
    margin-left: auto;

  }
  // navbar.css
.navigation-menu ul {
    display: flex;
    padding: 0;
    align-items: center;

  }
  .navigation-menu li {
    // removes default disc bullet for li tags and applies margin to left & right side
    list-style-type: none;
    margin: 0 1rem;
  }
  .navigation-menu li a {
    // increases the surface area of the anchor tag to span more than just the anchor text
    text-decoration: none;
    display: block;
    width: 100%;
  }
  // navbar.css
.hamburger {
    border: 0;
    background-color: $light100;
    cursor: pointer;
  // positions the icon to the right and center aligns it vertically
    display: none;
  }
  .hamburger:hover {
    @include dropShadow;
  }

  .nav-icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 2;
  }
  .align-btn{
    display: flex;
    justify-content: center;
  }

  // navbar.css
@media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
  }
  // navbar.css
@media screen and (max-width: 768px) {
    .navigation-menu ul {
      display: none;
    }
  }
  // navbar.css
@media screen and (max-width: 768px) {
    .navigation-menu.expanded ul {
      display: block;
      background-color: $light100;
      z-index: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .navigation-menu ul {
        position: absolute;
        top: 106px;
        left: 0;
        flex-direction: column;
        width: 100%;   
    }
    .navigation-menu li {
      // centers link text and strips off margin
    //   text-align: center;
      margin: 0;
    }
    .navigation-menu li a {
      color: black;
      // increases the surface area of the anchor tag to span the full width of the menu
      width: 100%;
      padding: 1.5rem 0;
    }
    .navigation-menu li:hover {
      background-color: #eee;
    }
    .nav-icons{
        width: 100%;
    }
    .logo-mobile {
        width: 76.03px;
        height: 90px;
        display: block;
      }
      
      .logo-web{
        display: none;
      }
  }