@import "../styles/global.scss";


.hero-banner {
    position: relative;
    height: fit-content;
   
  .hero-banner-box {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   flex-direction: column;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   padding: $spacing32 $spacing24;
   gap: $spacing32;

    h1{
        @include josefin48;
        text-align: center;
    }
    h4{
        @include josefin24;
        text-align: center;
    }
    p{
        display: none;
    }

  }
    img{
        width: 100%;
        opacity: $opacity30;
        aspect-ratio: 0.8;
        object-fit: cover;
    
    }

@media screen and (min-width: $ipadScreenSize) {
  
.hero-banner-box {
   
    h1{
  
        @include josefin64;
    }
    p{
        text-align: center;
        display: block;
    }

  }
    img{
        height: 43.125rem;
       
    }
  


}
}