@import "../styles/global.scss";

//https://codepen.io/ryanaltvater/pen/QEbpLZ

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-circle {
    position: relative;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-color: $green500;
    border-radius: 100%;
    animation: spin 2s infinite linear;

    &-inner,
    &-gradient {
      position: absolute;
      width: 44px;
      height: 44px;
      transform: translate(-50%, -50%);
    }

    &-inner {
      top: 50%;
      left: 50%;
      background-color: $light100;
      border-radius: 100%;
    }

    &-gradient {
      top: -24px;
      left: 6px;
      background-color: $green500;
      background-image: -moz-linear-gradient(0deg, $green500 0%, $light200 50%);
      background-image: -webkit-linear-gradient(
        0deg,
        $green500 0%,
        $light200 50%
      );
      background-image: linear-gradient(0deg, $green500 0%, $light200 50%);
      transform: rotate(-45deg);
    }
  }
}
