@import "../styles/global";

// navbar.css
.navigation {
    height: 106px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: $light100;
    a{
    line-height: 0;
    color: $dark500;
    &:hover{
        text-decoration: underline;
    }
    }
    &-menu {
        margin-left: auto;
        ul {
            display: none;
            position: absolute;
            top: 106px;
            left: 0;
            flex-direction: column;
            width: 100%;   

            @media screen and (min-width: $desktopScreenSize) {
                display: flex;
                padding: 0;
                flex-direction: row;
                align-items: center;
                position: static;
            }
            
            li {
                // removes default disc bullet for li tags and applies margin to left & right side
                margin: 0;
                list-style-type: none;
                @media screen and (min-width: $desktopScreenSize) {
                    &{
                        margin: 0 1rem;
                    }
                }  
              
              a {
                // increases the surface area of the anchor tag to span more than just the anchor text
                text-decoration: none;
                display: block;
                width: 100%;
                padding: 1.5rem 0;
                &:hover{
                    text-decoration: underline;
                  }  
            }        
            }
          }
          &.expanded ul{
            display: block;
            background-color: $light100;
            z-index: 1;
          }
      }
  }
  .logo-web {
    display: none;
    @media screen and (min-width: $desktopScreenSize) {
        &{
            display: block;
            width: 328px;
        }
    }  
  }
  
  .logo-mobile {
    width: 76.03px;
    height: 90px;
    display: block;
    @media screen and (min-width: $desktopScreenSize) {
        &{
            display: none;
            width: 328px;
        }
  }
}

  // navbar.css
.brand-name {
    margin-left: 1rem;
  }

  // navbar.css
.hamburger {
    border: 0;
    background-color: $light100;
    cursor: pointer;
  // positions the icon to the right and center aligns it vertically
    display: block;
    @media screen and (min-width: $desktopScreenSize) {
        & {
          display: none;
        }
      }
  }

  .nav-icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @media screen and (min-width: $desktopScreenSize) {
        & {
          width: fit-content;
          order: 2;
        }
      }
  }

  .align-btn{
    display: flex;
    justify-content: center;
  }

.treatments {
    cursor: pointer;
    &.active{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 11rem;
        height: fit-content;
    }
    &.active .submenu{
    display: flex;
    gap: 16px;
    padding: 16px;
    position: static;
    background-color: $light100; 
    z-index: 1;
    @media screen and (min-width: $desktopScreenSize) {
        &{

            flex-direction: column;
            align-items: flex-start;
        }
      }
    
  }
    .align-icon{
      display: flex;
      align-items: center;
      width: 100%;
    }
}
.visually-hidden {
    display: none;
  }
