@import "../styles/global.scss";

@mixin set-position-and-margin($direction, $overlap) {
  position: relative;


  @if $direction == left {
    margin-left: $overlap;
  } @else if $direction == right {
    margin-left: -$overlap;
  } @else {
    margin-left: 0;
  }
}

.banner{
  display: flex;
  flex-direction: column;
  max-width: 390px;
  margin: 0 auto;

  .banner-box{
    order: 2;
    background-color: #f3efe7;
    border-radius: 4px;
    z-index: 1;
    max-width: 228px;
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    top: -50px;
  }

  .banner-image{
    order: 1;
    width: 100%;
    img{
      width: 100%;
      object-fit: cover;
      height: 235px;
      object-position: 100% 20%;
    }
  }
  
}
 .banner.reverse {
    .banner-box {
      order: 2;
      align-self: flex-end;
    }
  
    .banner-image {
      order: 1;
      align-self: flex-start;
    }
  }

  @media screen and (min-width: $ipadScreenSize) {
  .banner {
    display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1440px;
      padding-block: 70px;

  .banner-box {
    background-color: $light300;
    padding: 24px;
    max-width: 530px;
    top: 22%;
    height: fit-content;
    border-radius: 4px;
    order: 2;
    justify-self: flex-start;
    @include set-position-and-margin(right, -6px);
  }

  .banner-image {
    display: flex;
    justify-content: flex-end;
    order: 1;
    @include set-position-and-margin(left, 40px);
    img{
      height: 405px;
      width: 612px;
      object-position: 100% 23%;
    
    }
  }
}

.banner.reverse {
  .banner-box {
    background-color: $light200;
    order: 1;
    align-self: flex-start;
    justify-self: flex-end;
    top: 15%;
    @include set-position-and-margin(left, 146px);
  }

  .banner-image {
    order: 2;
    align-self: flex-start;
    justify-content: flex-start;
    @include set-position-and-margin(right, 50px);
  }
}
  
}

// .banner {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   max-width: 1440px;
//   margin-inline: 198px;
//   padding-block: 70px;

//   .banner-box {
//     background-color: $light200;
//     padding: 24px;
//     width: 530px;
//     top: 25%;
//     height: fit-content;
//     border-radius: 4px;
//     order: 1;
//     @include set-position-and-margin(left, 100px);
//   }

//   .banner-image {
//     height: 405px;
//     max-width: 612px;
//     display: flex;
//     justify-content: center;
//     order: 2;
//     @include set-position-and-margin(right, 100px);
//   }
// }

// .banner.reverse {
//   .banner-box {
//     order: 2;
//     @include set-position-and-margin(right, 100px);
//   }

//   .banner-image {
//     order: 1;
//     @include set-position-and-margin(left, 100px);
//   }
// }
