// Togglebuttons.scss
@import "../styles/global.scss";

$transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 48px;
$height: 24px;
$circleSize: 18px;

@mixin toggleControlStyles {
  transition: $transition;
  width: $width;
  height: $height;
  display: block;
  border-radius: 18.5px;
  @include dropShadow;
  background-color: $light200;
  position: relative;

  &:after {
    transition: $transition;
    content: "";
    width: $circleSize;
    height: $circleSize;
    display: block;
    background-color: $light100;
    border-radius: 50%;
    @include innerShadow;
    position: absolute;
    top: 50%;
    left: 2.8px;
    transform: translate(0%, -50%);
  }
}

.display {
  transform: translate(-50%, -50%);
}

.toggle {
  pointer-events: auto;
  .toggle-control {
    @include toggleControlStyles;
    transform: translateX(0%);
  }

  input {
    display: none;
    &:checked + .toggle-control {
      background-color: $green400;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      &:after {
        left: calc(#{$width} - #{$circleSize} - 2.8px);
      }
    }
  }

  &:disabled {
    background-color: $dark400;
  }
}
