@import "styles/global";

body {
  background-color: $light100;
  color: $dark500;
  margin: 0;
  height: 100vh;
}

h1 {
  @include josefin40;
  @media (min-width:$ipadScreenSize){
    @include josefin48;
  }
}

h2 {
  @include josefin32;
  @media (min-width:$ipadScreenSize){
    @include josefin40;
  }
}

h3 {
  @include josefin24;
  @media (min-width:$ipadScreenSize){
    @include josefin32;
  }
}

h4 {
  @include josefin20;
  @media (min-width:$ipadScreenSize){
    @include josefin24;
  }
}

h5 {
  @include josefin18;
  @media (min-width:$ipadScreenSize){
    @include josefin20;
  }
}

h6 {
  @include josefin18;
}

p {
  @include roboto18;
}

a {
  @include robotolink;
}

